<div class="col-md-3">
	<p class="centered ofo">
		<span></span>ВТБ <Br>ВСЕЛЕННАЯ
		</p>
	<div class="lok" style="height:150px;">
		<!--img class="" src="/site/theme/images/h1.png">
		<img class="" src="/site/theme/images/h2.png">
		<img class="" src="/site/theme/images/h3.png"-->
	</div>
</div>
<div class="col-md-3">
	




		<a class="loj" href="#">О сервисе</a>
		<a class="loj" href="#">Новости / События</a>
		<a class="loj" href="#">Планеты</a>
		<a class="loj" href="#">Найти астронавта</a>
		<a class="loj" href="#">Задать вопрос создателю</a>
	</div>
<div class="col-md-3">
 
		<a class="loj" href="/profile">Мой профиль</a>
		<a class="loj" href="/works">Мои задания</a>
		<a class="loj" href="/top">Избранное</a>
		<a class="loj" href="#">Мой путь развития</a>
	<a class="loj" href="/settings">Настройки</a>
	 
	</div>
<div class="col-md-3">
	<a class="loj  lov" href="#"><img class="lof" src="/site/theme/images/a1.png"> 8 (800) 123-55-67</a>
		<a class="loj  lov" href="#"><img class="lof" src="/site/theme/images/a2.png"> support@vtbuniverse.ru</a>
	
	<p class="lov loz">Команда<br><a href="depsite.ru">NetShaper</a></p>
	</div>