

<div id="showMenu">
  <img class="inner-width"  src="/site/theme/images/group.png">
</div>

<div id="navigation-hover"></div>

<div id="navigation-menu">
	
	 <div class="menu-selection">
  
    <div class="menu-text ofo-search">Поиск <img class="inner-width" ng-src="/site/theme/images/001_f.png" src="/site/theme/images/001_f.png"></div>
  </div>
  <div class="menu-selection">
  
    <div class="menu-text home"><a href="/">ВТБ Вселенная</a></div>
	  
  </div>
 <div class="menu-selection">
	 <div class="menu-text home"><a href="/market">Маркетплейс</a></div>
	 </div>
  <div class="menu-selection">
  
    <div class="menu-text home codepen">Планеты</div>
	  
	  <div class="menu-text home codepens"><a href="/marketing">Маркетинг</a></div>
	   <div class="menu-text home codepens"><a href="/programming">Разработка</a></div>
	   <div class="menu-text home codepens"><a href="/design">Дизайн</a></div>
	  
  </div>
	
	
	<div class="menu-selection">
  
    <div class="menu-text home codepen">Мой профиль</div>
	  
	  <div class="menu-text home codepens"><a href="/profile">Мой профиль</a></div>
	    <div class="menu-text home codepens"><a href="/works">Мои задания</a></div>
		<div class="menu-text home codepens"><a href="#">Мой путь развития</a></div>
		<div class="menu-text home codepens"><a href="/top">Избранное</a></div>	
		<div class="menu-text home codepens"><a href="/settings">Настройки</a></div>
  </div>
	
	
	 
	
		<div class="menu-selection">
  
  	  
	   <div class="menu-text sd"><a href="/blogs">Блог / Новости / События</a></div>
  </div>
	
	
		 
 
	
	 
	
	
	<a class="okli-1" href="/razm">Разместить задание</a>
	
	<a class="okli-1" href="/">Найти задание</a>
	
	
	<p class="okli-2">
	Подписывайтесь на нас в социальных сетях:
	</p>
	
	
	<span class="icon-zmdi"><img class="inner-width" ng-src="/site/theme/images/001_vk.png" src="/site/theme/images/001_vk.png"></span>	<span class="icon-zmdi"><img class="inner-width" ng-src="/site/theme/images/002_instagram_symbol.png" src="/site/theme/images/002_instagram_symbol.png"></span>	<span class="icon-zmdi"><img class="inner-width" ng-src="/site/theme/images/003_facebook_logo.png" src="/site/theme/images/003_facebook_logo.png"></span>
</div>